<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
was about us page
-->

<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Turtle shelter project | Turtle shelter project</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="One page parallax responsive HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Bingo HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />

  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body id="body">

  <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->
<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <!-- logo -->
      <a class="navbar-brand logo" href="/">
        <img loading="lazy" class="logo-default" src="/images/logo.png" alt="logo" />
        <img loading="lazy" class="logo-white" src="/images/logo.png" alt="logo" />
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Home</i>
            </a>
			<li class="nav-item ">
				<a class="nav-link" href="/jenstory">Jen's Story</a> <!-- services.-->
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="/request">Event Request</a> <!-- services.-->
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="/volunteer">Volunteer Sign Up</a> <!-- services.-->
			</li>
          </li>
		  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/faqs" id="navbarDropdown02" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              about <i class="tf-ion-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
				<li><a class="dropdown-item" href="/faqs">FAQs</a></li>
				<li><a class="dropdown-item" href="/vest">Our Vests</a></li>
				<li><a class="dropdown-item" href="/contact">Contact Us</a></li>
			  </ul>
          </li>
    
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>
  <!--
  End Fixed Navigation
  ==================================== -->

  <section class="single-page-header">
    <div class="container position-relative">
      <div class="row">
      </div>
    </div>
  </section>
  
 <!-- Start Contact Us Section -->
<section class="contact-us" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 text-left smaller-links">
        <ul class="list-unstyled">
          <li><a href="/faqs" class="link-large">About</a></li>
          <li><a href="/faqs" >FAQ</a></li>
          <li><a href="/vest">Our Vests</a></li>
          <li><a href="/contactmaintain">Contact Us</a></li>
        </ul>
      </div>
      <!-- Section Title -->
      
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-12">
            <div class="contact-box">
              <h3 class="mb-3">Contact Details</h3>
              <ul class="contact-short-info mt-4">
                <li class="mb-3">
                  <i class="tf-ion-ios-home"></i>
                  <span>TURTLE SHELTER PROJECT, PO BOX 382, KAYSVILLE, UT 84037</span>
                </li>
                <li class="mb-3">
                  <i class="tf-ion-android-phone-portrait"></i>
                  <span>Phone: +801-872-3190</span>
                </li>
                <li>
                  <i class="tf-ion-android-mail"></i>
                  <a href="mailto:turtleshelterproject@gmail.com">
                    <span>TURTLESHELTERPROJECT@GMAIL.COM</span>
                  </a>
                </li>
              </ul>
              <div class="border"></div>
            </div>
          </div>
        </div>
      </div>
        <!-- /section title -->
      </div>
       




 				<!-- Footer Social Links -->
 				<div class="social-icon">
 					<ul>
 						<li><a href="https://www.facebook.com/turtleshelterproject/"><i class="tf-ion-social-facebook"></i></a></li>
             <li><a href="https://www.instagram.com/turtleshelterproject/"><i class="tf-ion-social-instagram"></i></a></li>
 					</ul>
 				</div>
 				<!--/. End Footer Social Links -->
 			</div>
 			<!-- / End Contact Details -->

 		

 		</div> <!-- end row -->
 	</div> <!-- end container -->
 </section> <!-- end section -->


<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <h3>Goals</h3>
          <p>Our mission is to expand nationwide and eventually worldwide, providing insulated vests to homeless
            individuals to
            ensure no one freezes to death. Through innovation and compassion, we strive to offer warmth and safety to
            those in
            need.</p>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <h3>Connect with us Socially</h3>
            </li>
            <li><a href="https://www.facebook.com/turtleshelterproject/">Facebook</a></li>
            <li><a href="https://www.instagram.com/turtleshelterproject/">Instagram</a></li>
          </ul>
        </div>

        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>

</footer>


<!-- end Footer Area
========================================== -->

<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap4 -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="plugins/lightbox2/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- Smooth Scroll js -->
<script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="plugins/google-map/gmap.js"></script>

<!-- Custom js -->
<script src="js/script.js"></script>

<!-- turtle chat -->

<div id="turtleSection">
	<canvas id="turtleCanvas" title="Ask me anything!"></canvas>
	<div id="questionInput">
		<input id="userInput" type="text" placeholder="Type your question here..." />
		<button id="askButton">Ask</button>
	</div>
</div>

<div id="responseModal" class="modal">
	<div class="modal-content">
		<span class="close-button">&times;</span>
		<p id="responseText"></p>
	</div>
</div>

<script src="/turtleAnimation.js"></script>
<script>
	const askButton = document.getElementById("askButton");
	const userInput = document.getElementById("userInput");
	const responseModal = document.getElementById("responseModal");
	const responseText = document.getElementById("responseText");
	const closeButton = document.querySelector(".close-button");

	askButton.addEventListener("click", async () => {
		const userMessage = userInput.value.trim();
		if (!userMessage) return;

		try {
			const response = await fetch("/chat", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({ message: userMessage }),
			});

			const data = await response.json();
			responseText.innerText = data.response;
			responseModal.style.display = "block";
		} catch (error) {
			console.error("Error:", error);
		}
	});

	closeButton.addEventListener("click", () => {
		responseModal.style.display = "none";
	});

	window.addEventListener("click", (event) => {
		if (event.target === responseModal) {
			responseModal.style.display = "none";
		}
	});
</script>

</body>

</html>