<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>Turtle shelter project | Turtle shelter project</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="One page parallax responsive HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Bingo HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/logo.png" />

  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body id="body">

  <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->

<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <!-- logo -->
      <a class="navbar-brand logo" href="index.ejs">
        <img loading="lazy" class="logo-default" src="images/logo.png" alt="logo" />
        <img loading="lazy" class="logo-white" src="images/logo.png" alt="logo" />
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="index.ejs" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Home</i>
            </a>
			<li class="nav-item ">
				<a class="nav-link" href="jenstory.ejs">jen's story</a> <!-- services.-->
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="request.ejs">Event Request</a> <!-- services.-->
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="volunteer.ejs">Volunteer sign up</a> <!-- services.-->
			</li>
          </li>
		  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="faqs.ejs" id="navbarDropdown02" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              about <i class="tf-ion-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
				<li><a class="dropdown-item" href="faqs.ejs">FAQS</a></li>
				<li><a class="dropdown-item" href="vest.ejs">Our tech</a></li>
				<li><a class="dropdown-item" href="contact.ejs">Contact us</a></li>
			  </ul>
          </li>
    
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
	</div>
</section>

<!--
Start About Section
==================================== -->
<section class="about" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 text-left smaller-links">
        <ul class="list-unstyled">
          <li><a href="FAQS.html" class="link-large">About</a></li>
          <li><a href="FAQS.html" >FAQS</a></li>
          <li><a href="vest.html">Our tech</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-xl-6 col-lg-8">
        <h2 class="mb-3">Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img loading="lazy" src="images/volunteers-vests.jpg" class="img-fluid" alt="Volunteers cutting out vests, September 2017">
      </div>
      <div class="row mt-5">
        <div class="col-lg-6">
        <h4>How long have you been doing this?</h4>
        <p>Jen got the idea for the Turtle Shelter Project in 2015 to help keep people experiencing homelessness from freezing to death. We officially incorporated on April 3, 2017, Jen's sobriety anniversary. Our 501(c)(3) status was granted in 2018.</p>
        <p>Between September 2017 and January 2018, with a combined 450 volunteer hours, we completed 50 prototype vests to be tested.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6">
        <h4>If you want to help homeless people be warm, why not just do a coat drive?</h4>
        <p>The foam insulation layer combined with moisture-wicking fabrics creates more effective insulation than other winter clothing. Foam clothing provides warmth even when wet, helping maintain core body temperature. Read more in “OUR TECH.”</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h4>What does the turtle in your logo have to do with your project?</h4>
        <p>A turtle carries its shelter wherever it goes. Our insulated vests are portable “shelters” that allow individuals to carry their shelter on their backs.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6">
        <h4>How/where are the vests distributed?</h4>
        <p>During the winter of 2017-18, testing and distribution occurred mainly in Ogden with support from The Episcopal Church of the Good Shepherd and Youth Futures staff. By winter 2018-19, vests were distributed to shelters and individuals in Ogden and Salt Lake City.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6">
        <h4>Why don’t you just have a professional sewing shop make the vests?</h4>
        <p>We decided our mission includes two parts: helping those in need of warm clothing and providing opportunities for all willing individuals to serve. This is how we created our motto: *Every Life Has Value; Every Person Can Serve.*</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6">
        <h4>I want to help, but I don’t sew.</h4>
        <p>Our vests are designed for volunteers with no special sewing skills. Tasks like marking and cutting can be done by anyone, and final construction is handled by our expert staff. Completed vests are returned to the community or sent to areas of need.</p>
      </div>

    </div>

    <div class="row mt-5">
      <div class="col-lg-6">
        <h4>We don’t live close to your Northern Utah operation. Can we still help?</h4>
        <p>Yes! We can send parts of the vests for your group to cut, mark, or complete and return. Alternatively, we can train your group to complete vests locally. Reach out via *CONTACT US* or *SCHEDULE YOUR OWN EVENT* for more details.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6">
        <h4>How much of my donation goes to overhead?</h4>
        <p>Our overhead costs are minimal since all staff are volunteers. Annual expenses include business registration, website hosting, a post office box, and liability insurance, totaling about 25% of our budget in 2018. Donations can also be earmarked for specific purposes.</p>
      </div>
    </div>
  </div>
</section>


<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <h3>about</h3>
          <p>Integer posuere erat a ante venenati dapibus posuere velit aliquet. Fusce dapibus, tellus cursus commodo, tortor mauris sed posuere.</p>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <h3>Connect with us Socially</h3>
            </li>
            <li><a href="https://www.facebook.com/turtleshelterproject/">Facebook</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>&copy; Copyright 2020. All rights reserved.</h5>
    <h6>Design and Developed by <a href="https://themefisher.com/">Themefisher</a></h6>
  </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->
<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap4 -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="plugins/lightbox2/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- Smooth Scroll js -->
<script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="plugins/google-map/gmap.js"></script>

<!-- Custom js -->
<script src="js/script.js"></script>

<!-- turtle chat -->

<div id="turtleSection">
  <canvas id="turtleCanvas" title="Ask me anything!"></canvas>
  <div id="questionInput">
    <input id="userInput" type="text" placeholder="Type your question here..." />
    <button id="askButton">Ask</button>
  </div>
</div>

<div id="responseModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <p id="responseText"></p>
  </div>
</div>

<script src="/turtleAnimation.js"></script>
<script>
  const askButton = document.getElementById("askButton");
  const userInput = document.getElementById("userInput");
  const responseModal = document.getElementById("responseModal");
  const responseText = document.getElementById("responseText");
  const closeButton = document.querySelector(".close-button");

  askButton.addEventListener("click", async () => {
    const userMessage = userInput.value.trim();
    if (!userMessage) return;

    try {
      const response = await fetch("/chat", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ message: userMessage }),
      });

      const data = await response.json();
      responseText.innerText = data.response;
      responseModal.style.display = "block";
    } catch (error) {
      console.error("Error:", error);
    }
  });

  closeButton.addEventListener("click", () => {
    responseModal.style.display = "none";
  });

  window.addEventListener("click", (event) => {
    if (event.target === responseModal) {
      responseModal.style.display = "none";
    }
  });
</script>

</body>

</html>