<!--DONE & COPIED-->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="description" content="Internal Landing Page">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Internal Landing Page</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />

  <!-- CSS -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <link rel="stylesheet" href="css/turtle-table.css">
</head>

<body>
  <!-- Navigation -->
  <header class="navigation fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light px-0">
        <a class="navbar-brand logo" href="/">
          <img loading="lazy" class="logo-default" src="/images/logo.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item"><a class="nav-link" href="/">Main Website</a></li>
            <li class="nav-item"><a class="nav-link" href="/adminmaintain">Admins</a></li>
            <li class="nav-item"><a class="nav-link" href="/volunteermaintain">Volunteers</a></li>
            <li class="nav-item"><a class="nav-link" href="/requestmaintain">Requests</a></li>
            <li class="nav-item"><a class="nav-link" href="/eventmaintain">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="/volunteer_eventsmaintain">Manage Volunteers</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <!--tableau dashboard-->

  <!-- Main Content -->
  <div class="turtle-container">
    <div class="turtle-table-wrapper">
      <h2 style="text-align: center; color: #28ABE3;">Admin Portal</h2>
      <!-- Tableau Dashboard Embed -->
      <div class='tableauPlaceholder' id='viz1733426925927' style='position: relative'>
        <noscript>
          <a href='https://public.tableau.com/app/profile/summer.sampson/viz/FallIntexOurData/Volunteer?publish=yes'>
            <img alt='Volunteer ' src='https://public.tableau.com/static/images/Fa/FallIntexOurData/Volunteer/1_rss.png' style='border: none' />
          </a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='FallIntexOurData/Volunteer' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https://public.tableau.com/static/images/Fa/FallIntexOurData/Volunteer/1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
          <param name='filter' value='publish=yes' />
          <param name='ignore_sticky_session' value='yes' />
        </object>
      </div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1733426925927');
        var vizElement = divElement.getElementsByTagName('object')[0];
        if (divElement.offsetWidth > 800) { 
          vizElement.style.width = '1000px';
          vizElement.style.height = '827px';
        } else if (divElement.offsetWidth > 500) {
          vizElement.style.width = '1000px';
          vizElement.style.height = '827px';
        } else {
          vizElement.style.width = '100%';
          vizElement.style.height = '1777px';
        }
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
    </div>
  </div>

  <!-- Scripts -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
</body>

</html>