<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>Turtle shelter project | Turtle shelter project</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="One page parallax responsive HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Bingo HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/logo.png" />

  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body id="body">

  <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->

<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <!-- logo -->
      <a class="navbar-brand logo" href="/index">
        <img loading="lazy" class="logo-default" src="/images/logo.png" alt="logo" />
        <img loading="lazy" class="logo-white" src="/images/logo.png" alt="logo" />
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="/index" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Home</i>
            </a>
			<li class="nav-item ">
				<a class="nav-link" href="/jenstory">jen's story</a> <!-- services.-->
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="/request">Event Request</a> <!-- services.-->
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="/volunteermaintain">Volunteer sign up</a> <!-- services.-->
			</li>
          </li>
		  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/faqs" id="navbarDropdown02" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              about <i class="tf-ion-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
				<li><a class="dropdown-item" href="/faqs">FAQS</a></li>
				<li><a class="dropdown-item" href="/vest">Our vests</a></li>
				<li><a class="dropdown-item" href="/contact">Contact us</a></li>
			  </ul>
          </li>
    
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

			</div>
		</div>
	</div>
</section>

<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row justify-content-center">
      <div class="col-lg-4 text-left smaller-links">
        <ul class="list-unstyled">
            <li><a href="/faqs" class="link-large">About</a></li>
            <li><a href="/faqs">FAQS</a></li>
            <li><a href="/vest">Our tech</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
			<!-- section title -->
			<div class="col-lg-6">
				<div class="title text-center">
          <article class="article-container">
					<h2>Our Vests</h2>
            <p>Foam clothing technology was invented by outdoor survival expert Jim Phillips. He has done extensive testing using open-cell polyurethane foam as the insulation layer in jackets, hoods, pants, boots, gloves, and sleeping bags.</p>
            <p>Jim Phillips' foam clothing is brilliant technology because of what it can do to help save a person's life in freezing temperatures. The insulation layer foam clothing provides is so effective that even if a person gets wet it will keep them warm -- BUT, wearing synthetic fabrics is an important layer to include with the foam clothing. Foam clothing can be effective while wearing cotton if the wearer stays dry, but if the wearer gets wet, the cotton will absorb and hold water and keep the wearer cold. If a person is not wearing any cotton with the foam clothing, and they happen to get wet, they will still be able to maintain their core body temperature. The reason why this works is because the shell and lining fabrics and the foam are all synthetic and breathable - providing moisture wicking properties and allowing perspiration and other moisture to evaporate.</p>
            <p>Foam clothing dramatically reduces moisture as being a threat to a person's life in the cold!</p>
            <p>Foam clothing is marketed to emergency preparedness and extreme sports audiences because of its ability to keep you warm in winter conditions. Being cold is one thing, but being cold and wet is miserable. Being cold, wet, and without shelter can be life-threatening.</p>
            <p>This technology is usually sold in emergency preparedness venues and super expensive. It does make sense because the technology is super valuable that the clothing should cost a lot, but we disagree: nobody likes to be cold and people function a lot better when they are not freezing to death! So we created a foam vest that covers the core and we called the Turtle Shelter because it acts like a shelter and harnesses the wearer's body heat even while wet and even in freezing temperatures.</p>
            <p>Jen's perspective: Every life has value! 
              "Hearing about this technology in an emergency Preparedness venue provoked a lot of thought about how many homeless peoples' lives could not only be saved but also improved by this technology? Emergency preparedness is all about people getting prepared for when disaster strikes...and it seems like to get prepared can be pretty pricey...but isn't a person who is homeless living in their emergency right this very moment? They are not waiting for disaster to strike because for them it already has and I know from experience that once the disaster of homelessness strikes it can be extremely hard to recover from it. For many, it is far more than simply losing a home or a place to stay...for me and many others it was also about losing my confidence, my energy, my drive, and even my hope...I felt completely broken and defeated!</p>
            <p>I remember how every simple task felt like an overwhelming obstacle but even more so when it was so cold I couldn't even think. Everything just felt harder when it was cold and wet and miserable... I believe that this foam clothing can help relieve some of the suffering for anyone who is homeless and living in the cold...I believe it doesn't have to cost a lot to make these. Not for the homeless and not for our families...lives can be saved from this technology."</p>
          </article>
          
          </div>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>

		<div class="row">

			<div class="col-md-6 mb-4 mb-md-0">
				<img loading="lazy" src="images/about/about-2.png" class="img-fluid" alt="">
			</div>
			<div class="col-md-6">
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->


<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <h3>about</h3>
          <p>Integer posuere erat a ante venenati dapibus posuere velit aliquet. Fusce dapibus, tellus cursus commodo, tortor mauris sed posuere.</p>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <ul>
            <li>
              <h3>Our Services</h3>
            </li>
            <li><a href="service.html">Ui/Ux Design</a></li>
            <li><a href="service.html">Graphic Design</a></li>
            <li><a href="service.html">Web Design</a></li>
            <li><a href="service.html">Web Development</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
          <ul>
            <li>
              <h3>Quick Links</h3>
            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="service.html">Services</a></li>
            <li><a href="blog.html">Blogs</a></li>
            <li><a href="404.html">404</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <h3>Connect with us Socially</h3>
            </li>
            <li><a href="https://www.facebook.com/themefisher/">Facebook</a></li>
            <li><a href="https://www.twitter.com/themefisher/">Twitter</a></li>
            <li><a href="https://www.youtube.com/channel/UCx9qVW8VF0LmTi4OF2F8YdA">Youtube</a></li>
            <li><a href="https://www.github.com/themefisher/">Github</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>&copy; Copyright 2020. All rights reserved.</h5>
    <h6>Design and Developed by <a href="https://themefisher.com/">Themefisher</a></h6>
  </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->
<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap4 -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="plugins/lightbox2/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- Smooth Scroll js -->
<script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="plugins/google-map/gmap.js"></script>

<!-- Custom js -->
<script src="js/script.js"></script>

<!-- turtle chat -->

<div id="turtleSection">
  <canvas id="turtleCanvas" title="Ask me anything!"></canvas>
  <div id="questionInput">
    <input id="userInput" type="text" placeholder="Type your question here..." />
    <button id="askButton">Ask</button>
  </div>
</div>

<div id="responseModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <p id="responseText"></p>
  </div>
</div>

<script src="/turtleAnimation.js"></script>
<script>
  const askButton = document.getElementById("askButton");
  const userInput = document.getElementById("userInput");
  const responseModal = document.getElementById("responseModal");
  const responseText = document.getElementById("responseText");
  const closeButton = document.querySelector(".close-button");

  askButton.addEventListener("click", async () => {
    const userMessage = userInput.value.trim();
    if (!userMessage) return;

    try {
      const response = await fetch("/chat", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ message: userMessage }),
      });

      const data = await response.json();
      responseText.innerText = data.response;
      responseModal.style.display = "block";
    } catch (error) {
      console.error("Error:", error);
    }
  });

  closeButton.addEventListener("click", () => {
    responseModal.style.display = "none";
  });

  window.addEventListener("click", (event) => {
    if (event.target === responseModal) {
      responseModal.style.display = "none";
    }
  });
</script>

</body>

</html>