<!--DONE AND COPIED-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Volunteer</title>

    <!-- CSS
      ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="plugins/themefisher-font/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- Lightbox.min css -->
    <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="plugins/animate/animate.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <!-- Turtle Table CSS -->
    <link rel="stylesheet" href="css/turtle-table.css">

</head>
<body>
    <!-- Navigation -->
    <header class="navigation fixed-top">
        <div class="container">
            <!-- main nav -->
            <nav class="navbar navbar-expand-lg navbar-light px-0">
                <!-- logo -->
                <a class="navbar-brand logo" href="/">
                    <img loading="lazy" class="logo-default" src="images/logo.png" alt="logo" />
                </a>
                <!-- /logo -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item"><a class="nav-link" href="/internallanding">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/adminmaintain">Admins</a></li>
                        <li class="nav-item"><a class="nav-link" href="/volunteermaintain">Volunteers</a></li>
                        <li class="nav-item"><a class="nav-link" href="/requestmaintain">Requests</a></li>
                        <li class="nav-item"><a class="nav-link" href="/eventmaintain">Events</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /main nav -->
        </div>
    </header>
    <!-- End Navigation -->

    <!-- Main Content -->
    <div class="turtle-container">
        <!-- Contact Form Wrapper -->
        <div class="turtle-table-wrapper">
            <h2 style="text-align: center; color: #28ABE3;">Add Volunteer</h2>
            <form id="contact-form" action="/volunteeradd" method="post" role="form">
                <!-- First Name -->
                <div class="form-group mb-4">
                    <label for="contactFirstName">First Name</label>
                    <input type="text" class="form-control" name="contactFirstName" id="contactFirstName"
                        placeholder="First Name" required>
                </div>

                <!-- Last Name -->
                <div class="form-group mb-4">
                    <label for="contactLastName">Last Name</label>
                    <input type="text" class="form-control" name="contactLastName" id="contactLastName" placeholder="Last Name"
                        required>
                </div>

                <!-- Email -->
                <div class="form-group mb-4">
                    <label for="contactEmail">Email</label>
                    <input type="email" class="form-control" name="contactEmail" id="contactEmail" placeholder="Email" required>
                </div>

                <!-- Phone Number -->
                <div class="form-group mb-4">
                    <label for="contactPhone">Phone Number</label>
                    <input type="tel" class="form-control" name="contactPhone" id="contactPhone" placeholder="e.g., (801) 234-5678"
                        pattern="[0-9]+" maxlength="15" required>
                </div>

                <!-- City -->
                <div class="form-group mb-4">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" id="city" placeholder="City" required>
                </div>

                <!-- State -->
                <div class="form-group mb-4">
                    <label for="state">State</label>
                    <input type="text" class="form-control" name="state" id="state" placeholder="State" maxlength="2" required>
                </div>

                <!-- How they heard about the opportunity -->
                <div class="form-group mb-4">
                    <label for="howHeard">How did you hear about the opportunity?</label>
                    <select class="form-control" name="howHeard" id="howHeard" required>
                        <option value="friend">A Friend</option>
                        <option value="social_media">Social Media</option>
                        <option value="email">Email</option>
                        <option value="website">Website</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <!-- Sewing Level -->
                <div class="form-group mb-4">
                    <label for="sewingLevel">Sewing Level</label><br>
                    <input type="radio" id="none" name="sewingLevel" value="None" required>
                    <label for="none">No Experience</label><br>
                    <input type="radio" id="beginner" name="sewingLevel" value="Beginner" required>
                    <label for="beginner">Beginner</label><br>
                    <input type="radio" id="intermediate" name="sewingLevel" value="Intermediate" required>
                    <label for="intermediate">Intermediate</label><br>
                    <input type="radio" id="experienced" name="sewingLevel" value="Experienced" required>
                    <label for="experienced">Experienced</label>
                </div>

                <!-- Lead Event -->
                <div class="form-group mb-4">
                    <label>Are you willing to assist lead the event?</label><br>
                    <input type="checkbox" id="leadevent" name="leadevent">
                    <label for="leadevent">Yes</label>
                </div>

                <!-- Teach Sewing -->
                <div class="form-group mb-4">
                    <label>Are you willing to teach sewing skills?</label><br>
                    <input type="checkbox" id="teachsewing" name="teachsewing">
                    <label for="teachsewing">Yes</label>
                </div>

                <!-- Volunteer Hours -->
                <div class="form-group mb-4">
                    <label for="volunteerHours">Number of hours willing to volunteer per month</label>
                    <input type="number" class="form-control" name="volunteerHours" id="volunteerHours"
                        placeholder="Number of hours" required>
                </div>

                <!-- Submit Button -->
                <div style="text-align: center;">

                    <button type="submit" class="btn turtle-btn">Submit</button>
                </div>
            </form>
        </div>
        <!-- End Contact Form Wrapper -->
    </div>
    <!-- End Main Content -->

    <!-- Essential Scripts -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
    <script src="plugins/lightbox2/js/lightbox.min.js"></script>
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/filterizr/jquery.filterizr.min.js"></script>
    <script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
    <script src="plugins/google-map/gmap.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
